*{
    margin: 0;
    padding: 0;
    outline: 0;
}
ul,ol{
    list-style-type: none;
} 
a{
    text-decoration: none;
    display: inline-block;
}
img{
    vertical-align: middle;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*common part end*/

/* menu part start*/

#menu{
    height: 50px;
    background-color: #0072b1;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.container{
    width: 980px;
    margin: 0 auto;
}
.main_menu{
    width: 85%;
    float: left;
}
.main_menu ul li{
    display: inline-block;
}
.main_menu ul li a{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 30px;
    line-height: 50px;
    
}
.main_menu ul li a:hover{
    background-color: tomato;
    color: #fff;
    transition: .5s;
}

.icon{
    text-align: end;
    padding-top: 10px;
}

.icon i{
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    color: #0072b1;
    margin: 0px 5px;
}
.icon i:hover{
    background-color: tomato;
    color: #fff;
    transition: .5s;
}

/* menu part end*/

/* first part start*/

.heading_text h1{
    font-size: 50px;
    font-weight: 500;
    padding-top: 40px;
}

.heading_text h2{
    font-size: 50px;
    font-weight: 500;
    padding-top: 35px;
}
.heading_text span{
    color: orange;
}
.heading_text h3{
    padding-top: 40px;
    font-weight: 600;

}
.heading_text p{
    padding-top: 20px;
    padding-bottom: 10px;
    width: 500px;
    font-weight: 400;
    color: rgb(119, 117, 117);
}

.heading_text a{
    background-color: #0072b1;
    padding: 10px 40px;
    font-weight: 600;
    color: #fff;
    border-radius: 4px;
}
.heading_text a:hover{
    background-color: tomato;
    color: #fff;
    transition: .5s;
}
#first_part{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    
}
.heading_text{
    width: 50%;
    position: relative;
    padding-top: 50px;
    
}
.img_first {
    position: absolute;
    width: 40%;
    right: 50px;
    top: 115px;
    padding-top: 40px;
}
.img_first img{
    width: 80%;
    height: 80%;
    
    
}
/* first part end*/

/* dream part start*/

.dream_big{
    display: flex;
    padding-top: 200px;
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half_w1{
    width: 50%;
    float: left;
}
.half_w1 img{
    width: 100%;
    height: 100%;
}
.half_w2{
    width: 50%;
    text-align: left;
    padding-left: 100px;
    padding-top: 40px;
}
.half_w2 h1{
    font-size: 40px;
    font-weight: 500;
}
.half_w2 h3{
    font-weight: 500;
    padding-top: 30px;
}
.half_w2 p{
    width: 460px;
    padding-top: 10px;
    font-weight: 400;
    color: rgb(119, 117, 117);
    padding-bottom: 10px;

}
.half_w2 a{
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
.half_w2 a:hover{
    background-color: #0072b1;
    transition: .5s;
}
/* dream part end*/

/* exprience part start */

.exprience{
    display: flex;
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.head_text{
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 4px;
    font-size: 24px;
    font-weight: 300;

}
.head_text h1{
    padding-bottom: 30px;
}
.width_h1{
    width: 50%;
    padding-left: 20px;
    box-shadow: 10px 10px 50px gray;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 7px solid;
    border-image: linear-gradient( tomato , orange);
    border-image-slice: 1;
    
}

.width_h1 h1{
    font-size: 30px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 16px;
}
.width_h1 h3{
    font-size: 20px;
    color: orange;
    font-weight: 600;
    padding-left: 20px;
    padding-bottom: 20px;
}
.width_h1 p{
    font-size: 16px;
    color: rgb(119, 117, 117);
    font-weight: 400;
    text-align: left;
    padding-bottom: 40px;
}

.width_h2{
    width: 50%;
    box-shadow: 10px 10px 50px gray;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 7px solid;
    border-image: linear-gradient( blue , cyan);
    border-image-slice: 1;
    
}
.width_h2 h1{
    font-size: 30px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 16px;
}
.width_h2 h3{
    font-size: 20px;
    color: orange;
    font-weight: 600;
    padding-bottom: 20px;
    padding-left: 20px;
}
.width_h2 p{
    font-size: 16px;
    padding-top: 20px;
    color: rgb(119, 117, 117);
    font-weight: 400;
    width: 460px;
    text-align: left;
    padding-left: 20px;
}
/* exprience part end */

/* footer part start */

footer p{
    padding-top: 100px;
    text-align: center;
    padding-bottom: 20px;
    color: rgb(119, 117, 117);
}

/* footer part end */
